AddDefaultCharset UTF-8

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^espacios-disponibles$ espaciosb.php
RewriteRule ^espacio/([0-9a-zA-Z-_]+)$ espaciob.php?espacio=$1
RewriteRule ^espacio/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)$ espaciob.php?espacio=$1&especie=$2
RewriteRule ^esquema/([0-9a-zA-Z-_]+)$ esquemab.php?esquema=$1
RewriteRule ^esquema/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)$ esquemab.php?esquema=$1&especie=$2
RewriteRule ^especie/([0-9a-zA-Z-_]+)$ especieb.php?especie=$1