#AddDefaultCharset UTF-8

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^especies$ especiesb.php
RewriteRule ^especie/?$ especieb.php
RewriteRule ^especie/([0-9a-zA-Z-_]+)$ especieb.php?slug=$1

RewriteRule ^login/?$ loginb.php
RewriteRule ^salir/?$ php/controllers/logout.controller.php