.smart-form .checkbox input:checked:hover+i:after {content: '\f00c'}
.smart-form .btn-group .btn{ padding: 6px 12px}
#especie .smart-form .label {font-weight: bold; margin-top: 20px}

/*ajax uploader*/
.vista-previa {position: relative; margin-top: 20px}
.vista-previa a {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 6px 12px;
    display: none
}
.vista-previa .btn:active {position: absolute; top: 5px !important; left: inherit !important}

.vista-previa p {
    position: absolute;
    bottom: 0;
    height: 20px;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    text-align: center;
}
.uploader {border: 1px solid rgba(0,0,0,.08)}
.uploader, .uploader img {width: 100%}
.uploader img {cursor: pointer}
/*fin ajax uploader*/


/*tags*/
.waiting {
    background-color: #e3e3e3 !important; 
}

#sortable1, #sortable2 {
    width: 100%;
    min-height: 100px;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    background-color: #f3f3f3;
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

#sortable1 .ui-state-highlight, #sortable2 .ui-state-highlight {
    margin: 10px 5px;
}

.nativaDataItem {
    background: #fff;
    padding: 8px 13px;
    border: 1px solid #d0dbdd;
    margin: 10px 5px;
    overflow: hidden;
    cursor: move;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(40, 40, 40, 0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(40, 40, 40, 0.2);
    box-shadow: 0px 0px 2px 0px rgba(40, 40, 40, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.nativaDataItem:hover {
    border-color: #19b99a;
}

.nativaDataItem h3 {
    font-weight: bold;
    font-size: 0.9em;
    margin: 8px 0;
    float: left;
    color: rgb(51, 51, 51)
}

.nativaDataItem h3 i {
    margin-right: 5px;
    color: #94aab0;
}

.nativeDataCardItem {
    width: 100%;
    height: 80px;
    float: left;
    margin-top: 00px;
}

.rangeDots {
    text-align: right;
    float: right;
}

.rangeDots i {
    margin-right: 0;
}

.rangeAlto {
    color: #e74c3c;
}

.rangeBajo {
    color: #2ecc71;
}

.rating .fa-circle {
    font-size: 10px;
}